.usersList {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.userPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aquamarine;
}

.followButton[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}
