.field {
  display: flex;
  align-items: center;
}

.error {
  border: 2px solid darkred;
}

.errorMessage {
  color: darkred;
}

.commonError {
  padding: 5px 10px;
  display: inline-block;
  color: darkred;
  border: 2px solid darkred;
}
