.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 10px;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: gold;
}
