.pagination {
  display: flex;
}

.paginationList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.paginationList li {
  cursor: pointer;
}

.paginationList li:not(:last-child) {
  margin-right: 3px;
}

.selectedPage {
  font-weight: bold;
}
