.dialogsBlock {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.dialog {

}

.active {
  color: gold;
}

.messages {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.message {

}
